Source: crafty
Section: non-free/games
Priority: optional
Build-Depends: debhelper (>= 9), libnuma-dev [kfreebsd-amd64 amd64]
Maintainer: Debian QA Group <packages@qa.debian.org>
Standards-Version: 3.9.2
XS-Autobuild: yes

Package: crafty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: xboard, crafty-books-medtosmall |crafty-books-small
Description: state-of-the-art chess engine, compatible with xboard
 Crafty is the strong chess program played on ICC. It uses all of the
 search algorithms you have probably read about and performs better
 than gnu-chess in most positions. It has a reasonable set of features to use,
 and offers a great starting point to try your own new search extensions.
